html {
    transition: background-color 0.15s ease-in-out;
}

.has-background-canada {
    background: url(Icons/pexels-eberhard-grossgasteiger-443446.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.has-background-moon {
    background: url(Icons/pexels-david-besh-884788.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.has-background-beach {
    background: url(Icons/pexels-fabian-wiktor-994605.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.has-background-mountain {
    background: url(Icons/pexels-roberto-shumski-1903702.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.has-background-norway {
    background: url(Icons/pexels-tobias-bjørkli-2113566.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.has-background-boat {
    background: url(Icons/pexels-johannes-plenio-2850287.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.has-background-sunset {
    background: url(Icons/pexels-pixabay-461940.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.has-background-shrek {
    background: url(Icons/CuShj4j.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.has-background-forest {
    background: url(Icons/forest-3622519.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.iconic {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    background-color: #ffffff4d;
    padding: 4px;
    border-radius: 11px;
    transition: 0.3s;
}


.hr {
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

.has-blurred-background {
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px);
}

.container {
    width: 50%;
    background-color: rgb(246 242 255 / 34%);
    padding: 20px;
}

#main-content {
    display: flex;
    flex-direction: column;
}

h3 {
    transition: width 200ms ease;
    transition: height 200ms ease;
}

h3:hover {
    height: 55px;
    width: 70px;
}

.checkbox {
    display: flex;
    align-items: center;

    text-decoration: none;
}
.checkbox:hover {
   color: inherit;
}

.checkbox p {
    overflow-wrap: break-word;
    max-width : 100%;
}

.space-between {
    justify-content: space-between;
}

.pointer {cursor: pointer;}
.hidden { display: none;}

.topper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personalized-input {
    border-color: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.123);
}

.column {
    display: flex;
    flex-direction: column;
}

.style {
    width: 100%;
}

.styles-container {
    margin: 20px 30px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;
    column-gap: 10px;
}

.style-block {
    height: 50px;
    width: 70px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
}

.red-border {
    border: 1px solid hsla(348, 100%, 61%, 0.561);
}
.yellow-border {
    border: 1px solid hsl(48, 100%, 67%);
}
.green-border {
    border: 1px solid hsl(141, 71%, 48%);
}
.blue-border {
    border: 1px solid hsl(204, 86%, 53%);
}
.darkblue-border {
    border: 1px solid hsl(217, 71%, 53%);
}
.primary-border {
    border: 1px solid hsl(171, 100%, 41%);
}
/* .yellow-border {
    border: 1px solid hsl(48, 100%, 67%);
}
.yellow-border {
    border: 1px solid hsl(48, 100%, 67%);
} */

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.text:hover {
    cursor: text;
}
.hover:hover {
    opacity: 85%;
}

.btn:hover {
    opacity: 90%;
}
.style-container {
    margin: 0 30px;
    width: 82%;
    margin-bottom: 15px;
}



.custom-container {
    background-color: #c3bfe94a;
    padding: 14px;
}

.rotate-180 {
    transform: rotate(180deg);
}

.arrow:hover {
    height: 19px;
    width: 19px;

    opacity: 100%;
}
.iconic:hover {
    height: 2.2rem;
    width: 2.2rem;

    opacity: 100%;
}

#footer {
    margin-top: 30px;
    bottom: 0;
    width: 100%;
}

.display-image {
    max-width: 100px;
   max-height: 100px;
   border-radius: 8px;
   transition: width 200ms ease;
   transition: height 200ms ease;
   margin-top: 20px;;
}
.display-image:hover {
    transform: scale(1.1);
}

.popup {
    padding: 20px 15px;
    border-radius: 6px;
    margin-top: 28px;
    display: none;
}

.text:hover {
    opacity: 80%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.no-themes-container {
    background-color: #9ec7ee45;
    padding: 20px 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.flex-start {
    justify-content: flex-start !important;
}

.clear {
    display: flex;
    justify-content: flex-end;
}

.has-background-purple {
    background-color: #4a0094!important;
}
.has-background-green {
    background-color: #4caf50!important;
}

.container-2 {
    margin: 10px;
    background-color: rgb(210 220 235 / 90%);
    border-radius: 6px;
    padding: 10px;
    transition: height 0.09s ease-in-out;
}


.has-background-grey {
    background-color: gray!important;
    border-color: gray;
}

.has-background-darker-gray {
    background-color: rgb(78, 78, 78)!important;
    border-color: rgb(78, 78, 78);
}

.has-text-purple {
    color: #8e61f3!important;
}
.has-text-orange {
    color: #dd8c00!important;
}
.has-text-pink {
    color: #cc60d0!important;
}
.has-background-orange {
    border: 1px solid hsl(33deg 86% 57%);
    background-color: #ffece1!important;
}
.has-background-pink {
    border: 1px solid hsl(294deg 71% 72%);
    background-color: #fbd6ff!important;
}
.has-text-irish-green {
    color: #1ba805!important;
}
.has-background-irish {
    background-color: #d6f2d1!important;
    border: 1px solid hsl(102deg 81% 44%);
}

.has-background-purple-light {
    background-color: #eeddfd!important;
    border-color: hsl(269deg 100% 58%);
}

.has-background-rouge {
    background-color: #ffe4f7!important;
    border-color: hsl(309deg 100% 75%);
}
.has-text-rouge {
    color: #c8047f!important;
}
.has-text-azure {
    color: azure!important;
}

.has-background-bluey {
    background-color: #e5e6ff!important;
    border-color: hsl(228deg 100% 74%);
}

.has-text-bluey {
    color: #7864ff!important;
}

.has-text-black {
    color: black!important;
}
.has-background-white {
    background-color: white!important;
    border-color: gray;
}

.has-background-grey-light {
    background-color: rgb(192, 192, 192)!important;
    border-color: rgb(192, 192, 192);
}

.a {
    background-color: #f44336;
}
.b {
    background-color: #e91e63;
}
.c {
    background-color: #9c27b0;
}
.d {
    background-color: #673ab7;
}
.e {
    background-color: #3f51b5;
}
.f {
    background-color: #2196f3;
}
.g {
    background-color: #03a9f4;
}
.h {
    background-color: #00bcd4;
}
.i {
    background-color: #009688;
}
.j {
    background-color: #4caf50;
}
.k {
    background-color: #8bc34a;
}
.l {
    background-color: #cddc39;
}
.m {
    background-color: #ffeb3b;
}
.n {
    background-color: #ffc107;
}
.o {
    background-color: #ff9800;
}
.p {
    background-color: #ff5722;
}
.q {
    background-color: #795548;
}
.r {
    background-color: #9e9e9e;
}
.s {
    background-color: #607d8b;
}
.t {
    background-color: #002ff063;
}

.gradient-1 {
    background-image: linear-gradient(30deg, #1500a4, #d43333);
    border: transparent;
}
.gradient-2 {
    background-image: linear-gradient(30deg, #ffcc00, #ff0000e6);;
    border: transparent;
}

.gradient-3 {
    background-image: linear-gradient(30deg, #009723, #eb2020d9);
    border: transparent;
}

.gradient-4 {
    background-image: linear-gradient(30deg, #00a490, #d43333);
    border: transparent;
}

.gradient-5 {
    background-image: linear-gradient(90deg, #9592ab, #264099);
    border: transparent;
}

.gradient-6 {
    background-image: linear-gradient(30deg, #0b0916, #d43333);
    border: transparent;
}

.gradient-7 {
    background-image: linear-gradient(30deg, #2196F3, #CDDC39);
    border: transparent;
}

.gradient-8 {
    background-image: linear-gradient(30deg, #4CAF50, #9E9E9E);
    border: transparent;
}

.gradient-9 {
    background-image: linear-gradient(30deg, #3F51B5, #00BCD4);
    border: transparent;
}

.gradient-10 {
    background-image: linear-gradient(30deg, #E91E63, #9C27B0);
    border: transparent;
}

.gradient-11 {
    background-image: linear-gradient(30deg, #e91edf, #00BCD4);
    border: transparent;
}

.gradient-12 {
    background-image: linear-gradient(30deg, #76db00, #000000);
    border: transparent;
}


.theme {
    border-radius: 8px;
    height: 200px;
    width: 307px;
}
.theme:hover {
    opacity: 92%;
}

.themes-container {
    display: none;
}